body{
	margin: 20px;
}

h1,h2,h3,h4,h5,p,a{
	font-family: helvetica, sans-serif;
	font-weight: lighter;
	text-align: center;
}

h1{
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}

a{
	color: black;
	text-decoration: none;
	&:hover{
		opacity: 0.5;
	}
}

.video{
	text-align: center;
}

.text{
	width: 80%;
	margin-left: 10%;
	p{
		line-height: 1.5;
		font-size: 1.2em;
		font-weight: lighter;
		&.intro{
			text-decoration: underline;
			font-size: 0.8em;
		}
	}
}

.reset{
	position: fixed;
	left: 20px;
	top: 40%;
}

.resume{
	position: fixed;
	right: 20px;
	top: 40%;
}

.reset, .resume{
	display: none;
	a{
		color: black;
		&:hover{
			text-decoration: underline;
		}
	}
}
