doctype HTML
head
	title YT Transcript Test
	link(rel="stylesheet", href="css/main.css")

body
	h1 YouTube Transcription Test
	.video
		div(id="player")
	.text
		p(class="intro") CLICK A SENTENCE
		p.
			<a href="#"><span data-time="12">This is the so called keyboard.</span></a>
			<a href="#"><span data-time="15"> This is all Buchla equipment.</span></a>
			<a href="#"><span data-time="17">It's designed entirely as a non-keyboard interface.</span></a>
			<a href="#"><span data-time="21">It's like a joystick and you just move your finger over it.</span></a>
			<a href="#"><span data-time="42">What's happening is I have the voltage</span></a>
			<a href="#"><span data-time="46">from the x-y axis...</span></a>


	.squirt
		p OR JUST WATCH
		span watch this space...
	script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	script(type="text/javascript", src="js/app.js")